<!DOCTYPE html>
<html lang="en">
<%= stylesheet_link_tag "welcome" %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruby Site</title>
</head>

<body>
    <header>

        <h1 class="hh2" >Our Services!</h1>

        <div class="forms">
            <a class="signUp" href="/signup">Sign Up</a>
            <a class="logIn" href="/login">Log In</a>
        </div>

        <nav class="topButts">
            <a class="topNames" href="/">Home</a>
            <a class="topNames" href="/about">About</a>
            <a class="topNames" href="/services">Services</a>
            <a class="topNames" href="/contact">Contact</a>
        </nav>


    </header>

    <main>
        <p>This is a simple HTML file.</p>
        <p>Feel free to modify it as you like!</p>
    </main>

    <footer>
        <p>&copy; 2024 Your Name</p>
    </footer>
</body>

</html>
