<!DOCTYPE html>

<html lang="en">
<%= stylesheet_link_tag "welcome", media: 'all' %>
<%= csrf_meta_tags %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <header>

        <h1 class="userWelcome">Welcome, <%= @user.username %>!</h1>



        <nav class="topButts">
            <a class="topNames" href="/home">Home</a>
            <a class="topNames" href="/blog">Blog</a>
            <a class="topNames" href="/pictures">Pictures</a>
            <a class="topNames" href="/profile">Profile</a>
        </nav>


    </header>

    <main>
        <p>This is the home page!</p>
        <p>Welcome to home!</p>
    </main>

    <footer>
        <p><%= @user.username %></p>
    </footer>
</body>

</html>
