body {
    background-color: #EBEBEB;
    font-family: Apple Chancery;
}

.container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0C0C0;
    padding: 35px;
    width: 50vh;
    margin: 5%;
    margin-left: 36%;
    flex-direction: column; /* Add this to center content vertically */
    box-shadow: 5px 5px 5px 5px grey;
}

@media (max-width: 400px) {
    .container {
        background-color: #C0C0C0;
        padding: 20px;
        width: 40vh;
        margin: 5%;
        margin-left: 12%;
        text-align: center;
    }
    
    .formUser, .formPass {
        display: inline-block;
        margin: 5px auto;
    }
    
 
    .input-group {
        transform: translateY(5px);
        margin: 1px auto;
    }
    
    .new{
        transform: translateY(50px);
        
        
    }
    
    
    
}
@media(min-width: 400px){
    .dropbtn{
     display: none;   
    }
    
}




// // // // // // // 

.form-group {
    padding: 5px;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 20px;
    text-align: center; /* Add this to center input fields */
}

.formUser, .formPass {
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    margin-top: 25px;
    width: auto;
    display: inline-block; /* Add this to center input fields */
}

.paths {
    flex: 1;
    justify-content: space-evenly;
}

.signUp {}

.upSign {
    padding: 5px 10px;
    border-radius: 15px;
}

.new {
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 15px;
    font-size: 13px;
    position: relative;
    color: #333;
    transform: translateY(-5%);
    transform: translateX(10px);
    text-decoration: none;
    display: flex;
}

.logbutt {
    margin: 15px;
    padding: 3px 12px;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    display: flex;
    width: 75%;
    justify-content: center; /* Add this to center button content */
}

.actions {
    text-decoration: none;
    display: block;
    margin-left: 30px;
    transform: translateY(-5px);
    width: 100%;
    text-align: center; /* Add this to center action content */
}

.input-group {
    display: flex;
    justify-content: center; /* Add this to center input group content */
    align-items: center;
}

.fa {
    margin-right: 10px;
    margin-top: 25px;
}
