//// Place all the styles related to the Sessions controller here.
//// They will automatically be included in application.css.
//// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: #EBEBEB;
    font-family: Apple Chancery;
}

.heads{
  background-color: #100C08; /* Dark background color */
  color: #8300e5; /* White text color */
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px; /* Reduced padding */
  max-height: 70px; /* Reduced max height */
  width: 100%;
}

.login {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C0C0C0;
  padding: 35px;
  width: 50vh;
  margin: 5%;
  margin-left: 36%;
  flex-direction: column; /* Add this to center content vertically */
  box-shadow: 5px 5px 5px 5px grey;
}

.hader {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.hader p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #706b6b;
}
form {
  padding: 5px;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 20px;
  text-align: center; /* Add this to center input fields */
}
form input {
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  margin-top: 25px;
  width: auto;
  display: inline-block; /* Add this to center input fields */
}

form span {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  color: black;
}

.new {
  background-color: #fff;
  padding: 2px 4px;
  border-radius: 15px;
  font-size: 11px;
  width: 75%;
  position: relative;
  color: #333;
  transform: translateY(-5%);
  transform: translateX(10px);
  text-decoration: none;
  display: flex;
}


.actions{
  text-decoration: none;
  display: block;
  transform: translateY(-5px);
  width: 75%;
}



@media (max-width: 800px) {
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vh;
    background-color: #C0C0C0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px grey;
  
  }
  

  
  .new{
    transform: translateY(50px);
    
    
  }
  .formUser, .formPass {
    display: inline-block;
    margin: 5px auto;
  }
  header{
    width: 100%;
  }
  
  
}
@media(min-width: 800px){
  .dropbtn{
    display: none;   
  }
  .topButts{
    display: none;
  }
  
}
